.form-check-text {
    margin-right: 15px; /* Adjust the spacing between radio buttons */
}
.modal-body p {
    font-weight:bold;
}
.btn-addnew {
    float: right;
    background-color: #015a5a;
    color: white;
}
.btn-edit {
    color: #ffffff;
    background-color: #0d6efdc4;
    border-color: #0d6efd;
}
.btn-delete {
    color: #fff;
    background-color: #e44272;
    border-color: #e44272;
}
/*Table Responsive*/
.table-responsive {
    overflow-x: auto; /* Hiển thị thanh cuộn ngang khi cần */
}

.table thead th,
.table tbody td {
    white-space: nowrap; /* Không cho xuống dòng tự động */
    text-overflow: ellipsis; /* Cắt bớt chữ khi quá dài */
    overflow: hidden; /* Ẩn phần chữ bị cắt */
}
/*.table thead {
    background-color: #3fbb6c;
    color: white;
}*/
.table thead th {
    min-width: 150px; /* Đặt chiều rộng tối thiểu cho các tiêu đề để dễ đọc hơn */
}

@media (max-width: 576px) {
    .btn-addnew {
        width: 100%; /* Button sẽ chiếm toàn bộ chiều rộng trên màn hình nhỏ */
    }

    .input-group {
        width: 100%; /* Thanh tìm kiếm cũng chiếm toàn bộ chiều rộng */
    }

    .table thead th, .table tbody td {
        font-size: 12px; /* Giảm kích thước chữ trên các thiết bị nhỏ */
    }
}