@inherits LayoutComponentBase
@using Blazored.Toast.Configuration;
<BlazoredToasts Position="ToastPosition.TopRight"
                Timeout="5" IconType="IconType.FontAwesome" ErrorIcon="fa fa-times"
                InfoIcon="fa fa-info" SuccessIcon="fa fa-check" WarningIcon="fa fa-exclamation" />

<AuthorizeView>
    <Authorized>
        <div class="layout-container">

            <!-- Main content -->
            <main class="container mt-1">
                @Body
            </main>
        </div>
    </Authorized>
    <NotAuthorized>
        <RedirectToLogin />
    </NotAuthorized>
</AuthorizeView>